<!DOCTYPE html>
<html lang="en" ng-app="demo">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, minimal-ui" />
  <title>angular-ios-alertview</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <style>
    html{
      font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    }
    .wrap{
      width: 500px;
      margin: 10px auto 0;
    }
    .demo{
      margin-bottom: 20px;
    }
    pre{
      margin: 0;
    }
    .output, .desc{
      margin: 10px 0;
    }
    .pure-form legend{
      border-bottom: none;
      border-top: 1px solid #e5e5e5;
      padding-top: 10px;
      padding-bottom: 0;
      margin-bottom: 0;
      font-weight: bold;
    }
    .button-success,
    .button-error,
    .button-warning,
    .button-secondary {
        color: white;
        border-radius: 4px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    }
    .button-success {
        background: rgb(28, 184, 65); /* this is a green */
    }
    .button-error {
        background: rgb(202, 60, 60); /* this is a maroon */
    }
    .button-warning {
        background: rgb(223, 117, 20); /* this is an orange */
    }
    .button-secondary {
        background: rgb(66, 184, 221); /* this is a light blue */
    }
  </style>
  <link rel="stylesheet" href="../angular-ios-alertview.css">
</head>
<body>
  <div class="wrap">
    <div ng-controller="alertCtrl" class="demo">
      <form action="" class="pure-form">
        <fieldset>
          <legend>iosAlertView.alert</legend>
          <div class="desc"></div>
          <pre><code>
    iosAlertView.alert('alert');
          </code></pre>
          <div class="output">
            output: {{output | json}}
          </div>
          <button type="button" class="pure-button button-warning" ng-click="demo()">demo</button>
      </form>
    </div>
    <div ng-controller="confirmCtrl" class="demo">
      <form action="" class="pure-form">
        <fieldset>
          <legend>iosAlertView.confirm</legend>
          <div class="desc"></div>
          <pre><code>
    iosAlertView.confirm('confirm?');
          </code></pre>
          <div class="output">
            output: {{output | json}}
          </div>
          <button type="button" class="pure-button button-secondary" ng-click="demo()">demo</button>
      </form>
    </div>
    <div ng-controller="promptCtrl" class="demo">
      <form action="" class="pure-form">
        <fieldset>
          <legend>iosAlertView.prompt</legend>
          <div class="desc"></div>
          <pre><code>
    iosAlertView.prompt('prompt');
          </code></pre>
          <div class="output">
            output: {{output | json}}
          </div>
          <button type="button" class="pure-button button-secondary" ng-click="demo()">demo</button>
      </form>
    </div>
    <div ng-controller="remindCtrl" class="demo">
      <form action="" class="pure-form">
        <fieldset>
          <legend>iosAlertView.remind</legend>
          <div class="desc"></div>
          <pre><code>
    iosAlertView.remind('remind');
          </code></pre>
          <div class="output">
            output: {{output | json}}
          </div>
          <button type="button" class="pure-button button-warning" ng-click="demo()">demo</button>
      </form>
    </div>
    <div ng-controller="AlertViewCtrl" class="demo">
      <form action="" class="pure-form">
        <fieldset>
          <legend>iosAlertView.AlertView</legend>
          <div class="desc"></div>
          <pre><code>
    iosAlertView.AlertView({
      title: 'insl',
      text: 'text',
      buttons: [
        {
          text: 'label1',
          onClick: function(){
            iosAlertView.alert('label1');
          }
        },
        {
          text: 'label2',
          onClick: function(){
            iosAlertView.alert('label2');
          }
        },
        {
          text: 'label3',
          onClick: function(){
            iosAlertView.remind({
              text: 'label3',
              showTimes: 1000
            });
          }
        }
      ]
    });
          </code></pre>
          <div class="output">
            output: {{output | json}}
          </div>
          <button type="button" class="pure-button button-success" ng-click="demo()">demo</button>
      </form>
    </div>
  </div>
  <a href="https://github.com/Treri/angular-ios-alertview"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
  <script src="http://ajax.useso.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
  <script src="http://ajax.useso.com/ajax/libs/angularjs/1.4.4/angular-animate.min.js"></script>
  <script src="../angular-ios-alertview.js"></script>
  <script>
    angular.module('demo', ['ngAnimate', 'ios-alertview'])
    .config(['iosAlertViewProvider', function(iosAlertViewProvider){
      iosAlertViewProvider.set({
        title: 'angular-ios-alertview',
        okText: '确定',
        cancelText: '取消'
      });
    }])
    .controller('alertCtrl', [
      '$scope',
      'iosAlertView',
      function($scope, iosAlertView){
        $scope.demo = function(){
          iosAlertView.alert('alert').then(function(){
            $scope.output = 'resolved';
          });
        }
      }
    ])
    .controller('confirmCtrl', [
      '$scope',
      'iosAlertView',
      function($scope, iosAlertView){
        $scope.demo = function(){
          iosAlertView.confirm('confirm?').then(function(){
             $scope.output = 'resolved';
          }, function(){
            $scope.output = 'rejected';
          })
        }
      }
    ])
    .controller('promptCtrl', [
      '$scope',
      'iosAlertView',
      function($scope, iosAlertView){
        $scope.demo = function(){
          iosAlertView.prompt('prompt').then(function(value){
            $scope.output = value;
          }, function(){
            $scope.output = 'rejected';
          })
        }
      }
    ])
    .controller('remindCtrl', [
      '$scope',
      'iosAlertView',
      function($scope, iosAlertView){
        $scope.demo = function(){
          iosAlertView.remind('remind').then(function(){
            $scope.output = 'resolved';
          })
        }
      }
    ])
    .controller('AlertViewCtrl', [
      '$scope',
      'iosAlertView',
      function($scope, iosAlertView){
        $scope.demo = function(){
          iosAlertView.AlertView({
            title: 'insl',
            text: 'text',
            buttons: [
              {
                text: 'label1',
                onClick: function(){
                  iosAlertView.alert('label1');
                }
              },
              {
                text: 'label2',
                onClick: function(){
                  iosAlertView.alert('label2');
                }
              },
              {
                text: 'label3',
                onClick: function(){
                  iosAlertView.remind({
                    text: 'label3',
                    showTimes: 1000
                  });
                }
              }
            ]
          }).then(function(data){
            $scope.output = data;
          });
        }
      }
    ])
  </script>
</body>
</html>
